<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125433333158-cdjmeps182kk7tb12un5rdefml460gfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125433333158-cdjmeps182kk7tb12un5rdefml460gfp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>125433333158-tt3894spclsv6acv3ouqnpjp4hcg60c7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBH1knCYHsnS52vNQPV_CQCFcPgn81c_1s</string>
	<key>GCM_SENDER_ID</key>
	<string>125433333158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.health</string>
	<key>PROJECT_ID</key>
	<string>health-b70bc</string>
	<key>STORAGE_BUCKET</key>
	<string>health-b70bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125433333158:ios:73175612e5533bec477b67</string>
</dict>
</plist>